<h3> Data Analysis with SQL </h3>

<p> Using SQLite3 integration into Jupyter Notebook, we will perform further data analysis with SQL using the additional_info file that contains more useful information about the players. The main advantage of SQL to do further analysis is its easy syntax compared to Python, while Python is more suited with wrangling.  The following cells installs SQLite3 and connects the dataframes into SQL. </p>

In [4]:
import sqlite3
import pandas as pd

In [ ]:
!pip install ipython-sql

In [2]:
cnn = sqlite3.connect('nba_player_analysis.db')

In [5]:
merged=pd.read_csv("./player_shooting.csv")

In [6]:
additional_info=pd.read_csv("./additional_info.csv")

In [ ]:
merged.to_sql('player_shooting', cnn)
additional_info.to_sql('additional_info', cnn)

In [8]:
%load_ext sql 
%sql sqlite:///nba_player_analysis.db

In [9]:
%%sql 

CREATE temporary TABLE player_data (
name varchar(30),
num_shots int,
real_height float,
release_time float,
release_vel float,
max_vel float, 
left_to_right float,
right_to_left float,
arc float,
raw_arc float,
`release` varchar(100),
`jump_dist` varchar(100),
height int, 
career_fg float,
career_fg_3 float,
college varchar(100),
draft_team varchar(100),
position varchar(100),
hand varchar(100),
weight varchar(50),
`status` int
);

 * sqlite:///nba_player_analysis.db
Done.

[]

#### Quick Data Cleaning:
- Renaming and selecting necessary columns for analysis
- Joining the shooting data with additional_info table, which contains further details about players

In [10]:
%%sql
INSERT INTO player_data 
WITH p_stats AS (
	SELECT name, n AS num_shots, ROUND(hght, 1) as real_height, rt AS release_time, rv AS release_vel, mxv AS max_vel, lr1t AS left_to_right, rl1t AS right_to_left, plr AS arc, arc_angle AS raw_arc, `Release` AS `release` , jump_dist, approx_h AS height, `status`
    FROM player_shooting
)
SELECT p.name, num_shots, real_height, release_time, release_vel, max_vel, left_to_right, right_to_left, arc, raw_arc, `release`, jump_dist, height, career_fg, career_fg_3, college, draft_team, 
position, hand, weight, `status` FROM p_stats p
INNER JOIN (SELECT name, `career_FG%` AS `career_fg`, `career_FG3%` AS `career_fg_3`, college, draft_team, `position`, shoots AS hand, weight FROM additional_info) ai
ON p.name = ai.name;

UPDATE player_data 
SET 
    weight = REPLACE(weight, 'lb', '');

ALTER TABLE player_data
ALTER COLUMN weight int;

 * sqlite:///nba_player_analysis.db
370 rows affected.
370 rows affected.
(sqlite3.OperationalError) near "ALTER": syntax error
[SQL: ALTER TABLE player_data
ALTER COLUMN weight int;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Analysis

#### 1. Ranking of field goals per each team and their arcs (and selecting top scorers)

In [11]:
%%sql 

WITH ranks AS (
SELECT name, career_fg_3, raw_arc, draft_team,
RANK() OVER (PARTITION BY draft_team ORDER BY career_fg_3 DESC) AS fg_rank,
RANK() OVER (PARTITION BY draft_team ORDER BY raw_arc DESC) AS arc_rank
FROM (SELECT * FROM player_data WHERE `status` = 1) p )
SELECT name, fg_rank, arc_rank FROM ranks
WHERE fg_rank BETWEEN 1 AND 2;

 * sqlite:///nba_player_analysis.db
Done.

[('Anthony Morrow', 1, 11),
 ('Joe Ingles', 2, 4),
 ('Jason Terry', 1, 5),
 ('Mike Scott', 2, 3),
 ('Joe Johnson', 1, 1),
 ('Paul Pierce', 2, 6),
 ('Jared Dudley', 1, 3),
 ('D.J. Augustin', 2, 2),
 ('Kobe Bryant', 1, 1),
 ('Matt Bonner', 1, 6),
 ('Tony Snell', 2, 2),
 ('Danny Green', 1, 1),
 ('Kyrie Irving', 2, 5),
 ('Kelly Olynyk', 1, 1),
 ('Evan Fournier', 1, 2),
 ('Jameer Nelson', 2, 1),
 ('Khris Middleton', 1, 2),
 ('Arron Afflalo', 2, 3),
 ('Stephen Curry', 1, 3),
 ('Klay Thompson', 2, 5),
 ('Richard Jefferson', 1, 2),
 ('Chandler Parsons', 2, 8),
 ('James Jones', 1, 6),
 ('Kawhi Leonard', 2, 2),
 ('Eric Gordon', 1, 1),
 ('Al-Farouq Aminu', 2, 2),
 ('Patrick Beverley', 1, 1),
 ('Ryan Kelly', 2, 2),
 ('Mike Conley', 1, 4),
 ('Kevin Love', 2, 6),
 ('Bojan Bogdanovic', 1, 3),
 ('Dorell Wright', 2, 2),
 ('Dirk Nowitzki', 1, 3),
 ('Jodie Meeks', 2, 4),
 ('Ray Allen', 1, 10),
 ('Wayne Ellington', 2, 5),
 ('Kyle Korver', 1, 1),
 ('Ryan Anderson', 2, 2),
 ('Darren Collison', 1, 2),
 ('Chris Paul', 2, 3),
 ('Channing Frye', 1, 6),
 ('Danilo Gallinari', 2, 3),
 ('James Harden', 1, 1),
 ('Quincy Pondexter', 2, 2),
 ('Mike Miller', 1, 2),
 ('Courtney Lee', 2, 3),
 ('Jrue Holiday', 1, 1),
 ('Lou Williams', 2, 7),
 ('Markieff Morris', 1, 2),
 ('Luol Deng', 2, 1),
 ('CJ McCollum', 1, 5),
 ('Patty Mills', 2, 1),
 ('Kevin Martin', 1, 4),
 ('Omri Casspi', 2, 6),
 ('George Hill', 1, 3),
 ('Manu Ginobili', 2, 5),
 ('Kevin Durant', 1, 2),
 ('Serge Ibaka', 2, 3),
 ('Terrence Ross', 1, 1),
 ('P.J. Tucker', 2, 2),
 ('Mo Williams', 1, 5),
 ('Rodney Hood', 2, 6),
 ('Bradley Beal', 1, 5),
 ('Steve Blake', 2, 2)]

#### 2. Comparing the arc, release time and release velocity of different handed players

In [12]:
%%sql

SELECT 
    AVG(arc) AS avg_arc,
    AVG(release_time) AS avg_rt,
    AVG(release_vel) AS avg_rv,
    hand
FROM
    player_data
GROUP BY hand;

 * sqlite:///nba_player_analysis.db
Done.

[(1.1007916013086256, 0.4214642857142858, 14.148099023169278, 'Left'),
 (1.102327995460179, 0.42487349397590374, 14.160897556877202, 'Right')]

#### 3. Average field goal for each handedness and shoot pocket & selecting top 3 averages

In [13]:
%%sql

SELECT 
    hand,
    CASE
        WHEN left_to_right > right_to_left THEN 'R'
        WHEN left_to_right < right_to_left THEN 'L'
        WHEN left_to_right = 0 AND right_to_left = 0 THEN 'S'
    END AS shoot_pocket,
    ROUND(AVG(career_fg), 2) AS avg_fg
FROM
    player_data
GROUP BY hand , shoot_pocket
ORDER BY avg_fg DESC
LIMIT 3;

 * sqlite:///nba_player_analysis.db
Done.

[('Left', None, 46.21), ('Right', None, 43.8), ('Left', 'L', 43.74)]

#### 4. Avg metrics for each weightclasses (> 200 lb: heavy, < 170: light, in-between: Normal)

In [14]:
%%sql

SELECT 
    AVG(arc) AS avg_arc,
    AVG(career_fg) AS avg_fg,
    AVG(release_time) AS avg_rt,
    CASE
        WHEN 170 < weight AND weight < 200 THEN 'Normal'
        WHEN weight < 170 THEN 'Light'
        WHEN weight > 200 THEN 'Very Heavy'
        ELSE 'Light'
    END AS weight_class
FROM
    player_data
GROUP BY weight_class;

 * sqlite:///nba_player_analysis.db
Done.

[(1.09562194816986, 42.5, 0.4247, 'Light'),
 (1.1092179639137763, 43.255555555555546, 0.4223555555555557, 'Normal'),
 (1.1004032672170223, 43.75439999999998, 0.4254416666666669, 'Very Heavy')]

#### 5. Average metrics for height classes

In [15]:
%%sql

SELECT 
    AVG(arc), AVG(career_fg_3), AVG(release_time), real_height
FROM
    player_data
WHERE
    real_height != 0
GROUP BY real_height;

 * sqlite:///nba_player_analysis.db
Done.

[(1.11491373979176, 36.0, 0.4985, 5.7),
 (1.134196596654705, 35.1, 0.5189999999999999, 5.8),
 (1.0859221454547026, 37.0, 0.41875, 5.9),
 (1.12704485157724, 36.6, 0.4570000000000001, 6.0),
 (1.1447571865424657, 35.775, 0.43145833333333344, 6.1),
 (1.1060590827811636, 35.70571428571429, 0.41300000000000003, 6.2),
 (1.073468199426431, 36.28750000000001, 0.3965625, 6.3),
 (1.0786323094899295, 35.19444444444444, 0.4201714285714286, 6.4),
 (1.0833819638954127, 34.64285714285713, 0.41719047619047606, 6.5),
 (1.0857139014996433, 36.755, 0.43182051282051276, 6.6),
 (1.1239301070353362, 35.77241379310345, 0.43064285714285716, 6.7),
 (1.0911939343283192, 37.199999999999996, 0.41918181818181827, 6.8),
 (1.112433187215486, 33.46000000000001, 0.4683, 6.9),
 (1.085503781703724, 37.75, 0.45280000000000004, 7.0),
 (1.109394555384615, 35.0, 0.367, 7.1)]

#### 6. Does jump distance lead to higher FG percentage?

In [16]:
%%sql

WITH  t_ AS (SELECT *,
DENSE_RANK() OVER(PARTITION BY position ORDER BY jump_dist) AS j_rank FROM player_data),
t__ AS (SELECT career_fg, j_rank, position,
LAG(career_fg, 1) OVER (PARTITION BY position ORDER BY j_rank ASC) AS `prev`
FROM t_)
SELECT DISTINCT position, j_rank, IIF(career_fg - `prev` > 0, "Better", "Not Better") AS better_than_prev
FROM t__;

 * sqlite:///nba_player_analysis.db
Done.

[('Center', 1, 'Not Better'),
 ('Center and Power Forward', 1, 'Not Better'),
 ('Center and Power Forward', 2, 'Not Better'),
 ('Center and Power Forward', 2, 'Better'),
 ('Point Guard', 1, 'Not Better'),
 ('Point Guard', 1, 'Better'),
 ('Point Guard', 2, 'Better'),
 ('Point Guard', 2, 'Not Better'),
 ('Point Guard', 3, 'Better'),
 ('Point Guard', 3, 'Not Better'),
 ('Point Guard and Shooting Guard', 1, 'Not Better'),
 ('Point Guard and Shooting Guard', 1, 'Better'),
 ('Point Guard and Shooting Guard', 2, 'Not Better'),
 ('Point Guard and Shooting Guard', 2, 'Better'),
 ('Point Guard and Shooting Guard', 3, 'Not Better'),
 ('Power Forward', 1, 'Not Better'),
 ('Power Forward', 2, 'Not Better'),
 ('Power Forward', 2, 'Better'),
 ('Power Forward', 3, 'Better'),
 ('Power Forward', 3, 'Not Better'),
 ('Power Forward and Center', 1, 'Not Better'),
 ('Power Forward and Center', 1, 'Better'),
 ('Power Forward and Center', 2, 'Better'),
 ('Power Forward and Center', 2, 'Not Better'),
 ('Power Forward and Center', 3, 'Not Better'),
 ('Power Forward and Center', 3, 'Better'),
 ('Power Forward and Shooting Guard', 1, 'Not Better'),
 ('Power Forward and Small Forward', 1, 'Not Better'),
 ('Power Forward and Small Forward', 2, 'Not Better'),
 ('Power Forward and Small Forward', 2, 'Better'),
 ('Power Forward and Small Forward', 3, 'Not Better'),
 ('Power Forward and Small Forward', 3, 'Better'),
 ('Power Forward and Small Forward and Shooting Guard', 1, 'Not Better'),
 ('Shooting Guard', 1, 'Not Better'),
 ('Shooting Guard', 1, 'Better'),
 ('Shooting Guard', 2, 'Better'),
 ('Shooting Guard', 2, 'Not Better'),
 ('Shooting Guard', 3, 'Better'),
 ('Shooting Guard', 3, 'Not Better'),
 ('Shooting Guard and Point Guard', 1, 'Not Better'),
 ('Shooting Guard and Point Guard', 1, 'Better'),
 ('Shooting Guard and Point Guard', 2, 'Better'),
 ('Shooting Guard and Point Guard', 2, 'Not Better'),
 ('Shooting Guard and Point Guard', 3, 'Better'),
 ('Shooting Guard and Point Guard', 3, 'Not Better'),
 ('Shooting Guard and Small Forward', 1, 'Not Better'),
 ('Shooting Guard and Small Forward', 2, 'Better'),
 ('Shooting Guard and Small Forward', 2, 'Not Better'),
 ('Shooting Guard and Small Forward', 3, 'Not Better'),
 ('Shooting Guard and Small Forward', 3, 'Better'),
 ('Shooting Guard and Small Forward and Power Forward', 1, 'Not Better'),
 ('Shooting Guard and Small Forward and Power Forward', 1, 'Better'),
 ('Small Forward', 1, 'Not Better'),
 ('Small Forward', 1, 'Better'),
 ('Small Forward', 2, 'Better'),
 ('Small Forward', 2, 'Not Better'),
 ('Small Forward', 3, 'Better'),
 ('Small Forward', 3, 'Not Better'),
 ('Small Forward and Power Forward', 1, 'Not Better'),
 ('Small Forward and Power Forward', 1, 'Better'),
 ('Small Forward and Power Forward', 2, 'Better'),
 ('Small Forward and Power Forward', 2, 'Not Better'),
 ('Small Forward and Power Forward and Shooting Guard', 1, 'Not Better'),
 ('Small Forward and Power Forward and Shooting Guard', 1, 'Better'),
 ('Small Forward and Shooting Guard', 1, 'Not Better'),
 ('Small Forward and Shooting Guard', 1, 'Better'),
 ('Small Forward and Shooting Guard', 2, 'Not Better'),
 ('Small Forward and Shooting Guard', 2, 'Better'),
 ('Small Forward and Shooting Guard', 3, 'Better'),
 ('Small Forward and Shooting Guard', 3, 'Not Better'),
 ('Small Forward and Shooting Guard and Point Guard', 1, 'Not Better'),
 ('Small Forward and Shooting Guard and Point Guard', 2, 'Better'),
 ('Small Forward and Shooting Guard and Point Guard', 2, 'Not Better'),
 ('Small Forward and Shooting Guard and Power Forward', 1, 'Not Better'),
 ('Small Forward and Shooting Guard and Power Forward', 1, 'Better')]

#### 7. Does release time affect three-point performance?

In [17]:
%%sql

SELECT 
    AVG(career_fg_3) AS three_pt_fg, `release`
FROM
    player_data
GROUP BY `release`;

 * sqlite:///nba_player_analysis.db
Done.

[(36.04117647058824, '1'), (35.9058510638298, '2'), (34.857731958762876, '3')]

#### 8. Which college produces the best scorers?

In [18]:
%%sql

SELECT 
    college, AVG(career_fg) AS fg
FROM
    player_data
GROUP BY college
ORDER BY fg DESC;

 * sqlite:///nba_player_analysis.db
Done.

[('San Diego State University', 49.5),
 ('Louisiana Tech University', 49.1),
 ('Gonzaga University', 47.8),
 ('Davidson College', 47.7),
 ('Virginia Commonwealth University', 47.2),
 ('University of South Carolina', 46.7),
 ('University of Virginia', 46.4),
 ('University of Illinois at Urbana-Champaign', 46.2),
 ('Washington State University', 45.9),
 ('Lehigh University', 45.5),
 ('Georgia Institute of Technology', 45.5),
 ('Indiana University-Purdue University Indianapolis', 45.3),
 ('University of Florida', 45.239999999999995),
 ('Texas A&M University', 45.1),
 ('Western Kentucky University', 45.0),
 ('Boston College', 44.7),
 ('Wake Forest University', 44.56666666666666),
 ('University of Tennessee', 44.5),
 ('University of California, Los Angeles', 44.41250000000001),
 ('University of Cincinnati', 44.4),
 ('DePaul University', 44.4),
 ('Arizona State University', 44.3),
 ('University of Arizona', 44.12857142857143),
 ('University of Texas at Austin', 44.1),
 (None, 44.009677419354844),
 ('University of Connecticut', 43.96666666666667),
 ('Ohio State University', 43.73333333333333),
 ('Western Carolina University', 43.7),
 ('Indiana University', 43.55),
 ('Duke University', 43.475),
 ('Butler University', 43.45),
 ('University of Kentucky', 43.42),
 ('Weber State University', 43.4),
 ('University of Alabama', 43.4),
 ('Marquette University', 43.4),
 ('Harvard University', 43.3),
 ('California State University, Fresno', 43.3),
 ('University of Southern California', 43.26666666666666),
 ('University of Wisconsin', 43.2),
 ('University of Memphis', 43.175000000000004),
 ('University of North Carolina', 43.099999999999994),
 ('University of Washington', 43.06),
 ('Creighton University', 43.05),
 ('Vanderbilt University, University of Missouri', 43.0),
 ('University of Kansas', 42.779999999999994),
 ('University of Colorado', 42.7),
 ('Georgetown University', 42.7),
 ('University of Arkansas', 42.650000000000006),
 ('University of New Mexico', 42.5),
 ('Louisiana State University', 42.5),
 ('Northeastern University', 42.4),
 ('University of California', 42.2),
 ('Mississippi State University, Duke University', 42.2),
 ('Michigan State University', 42.2),
 ('La Salle University, Towson University', 42.2),
 ('Syracuse University', 42.06666666666667),
 ('Old Dominion University', 41.9),
 ('University of Oregon', 41.3),
 ('Villanova University', 41.25),
 ('University of Georgia', 41.2),
 ("Saint Mary's College of California", 41.150000000000006),
 ("Saint Joseph's University", 41.150000000000006),
 ('University of Dayton', 41.1),
 ('University of Maryland', 40.95),
 ('Cleveland State University', 40.7),
 ('University of Michigan', 40.625),
 ('Iowa State University, Syracuse University', 40.4),
 ('La Salle University', 40.3),
 ('Tennessee State University', 40.2),
 ('University of Miami', 40.1),
 ('Oklahoma State University', 39.150000000000006),
 ('Murray State University', 37.1)]

#### 9. Comparing all metrics between players that made and missed the shot.

REMARK: Every even-th column are made shot metrics and every odd-th was missed.

In [19]:
%%sql

WITH tt as (
SELECT *,
LEAD(release_time,1) OVER lead_window AS rt_win,
LEAD(release_vel,1) OVER lead_window AS rv_win,
LEAD(max_vel,1) OVER lead_window AS mv_win,
LEAD(left_to_right,1) OVER lead_window AS lr_win,
LEAD(right_to_left,1) OVER lead_window AS rl_win,
LEAD(arc,1) OVER lead_window AS arc_win
FROM player_data 
WINDOW lead_window AS (partition by name))
SELECT * FROM (select name, ROUND(release_time - ifnull(rt_win, null), 1) as rt_diff,
ROUND(release_vel - ifnull(rv_win, null), 1) as rv_diff,
ROUND(max_vel - ifnull(mv_win, null), 1) as mv_diff,
ROUND(left_to_right - ifnull(lr_win, null), 1) as lr_diff,
ROUND(right_to_left - ifnull(rl_win, null), 1) as rl_diff,
ROUND(arc - ifnull(arc_win, null), 1) as arc_diff
FROM tt) tt_
WHERE rt_diff IS NOT NULL
LIMIT 20;

 * sqlite:///nba_player_analysis.db
Done.

[('Aaron Brooks', 0.0, 0.1, -2.0, None, -0.0, -0.0),
 ('Al-Farouq Aminu', 0.0, -0.5, 1.5, 0.0, 0.0, 0.0),
 ('Alan Anderson', 0.2, 0.7, 0.9, None, 0.2, 0.0),
 ('Andre Iguodala', 0.1, -2.2, -1.4, 0.1, 0.1, -0.0),
 ('Anthony Morrow', 0.0, -0.1, -0.8, None, -0.0, -0.0),
 ('Anthony Tolliver', 0.0, -0.3, -0.2, -0.3, -0.2, 0.0),
 ('Arron Afflalo', -0.0, 0.1, 1.2, -0.0, -0.1, 0.0),
 ('Austin Rivers', -0.0, -0.7, 0.1, None, -0.0, -0.0),
 ('Avery Bradley', 0.0, -0.7, 0.5, None, -0.0, 0.0),
 ('Ben McLemore', -0.1, -0.5, 1.4, -0.1, -0.1, -0.1),
 ('Bojan Bogdanovic', 0.1, 0.6, -2.2, 0.3, None, 0.1),
 ('Boris Diaw', 0.1, -1.1, 1.2, 0.2, 0.2, 0.2),
 ('Bradley Beal', 0.0, 0.4, 2.1, -0.0, 0.0, 0.0),
 ('Brandon Jennings', -0.0, 0.6, -5.5, 0.0, -0.1, 0.0),
 ('Brandon Knight', 0.0, 0.5, 0.0, None, 0.0, 0.0),
 ('Brian Roberts', 0.0, -0.0, -0.2, None, None, 0.0),
 ('C.J. Watson', -0.0, -2.3, -0.1, None, -0.0, 0.0),
 ('CJ McCollum', 0.0, 2.6, -5.7, 0.0, None, 0.1),
 ('Carmelo Anthony', 0.0, -0.6, -0.8, 0.0, 0.0, -0.0),
 ('Caron Butler', 0.0, 0.4, 0.4, 0.0, -0.0, 0.0)]

##### 10. Between made vs missed shots, what are the differences in how much you "pull" back when you release?

In [20]:
%%sql

SELECT status, AVG(ry) pull_back FROM player_shooting
GROUP BY status
ORDER BY AVG(ry);

 * sqlite:///nba_player_analysis.db
Done.

[(1, -0.011642267021914496), (0, -0.01120156048454047)]

## Conclusion

#TODO